/* line 1, ../sass/_base.scss */
:root {
  font-size: 16px;
}

/* line 4, ../sass/_base.scss */
h1 {
  text-align: center;
  color: #0d0d0d;
}

/* line 8, ../sass/_base.scss */
.block {
  height: 4.1rem;
  width: 4.1rem;
  display: inline-block;
  background-color: yellow;
  opacity: 0.7;
}
/* line 14, ../sass/_base.scss */
.block:hover {
  opacity: 1;
}

/* line 18, ../sass/_base.scss */
.block2 {
  width: 100%;
  height: 1.5rem;
  background-color: lime;
  display: block;
  margin-top: 0.3rem;
}

/* line 25, ../sass/_base.scss */
.shadow {
  background-color: #003b4a;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 1rem 1.8rem;
}

/* line 33, ../sass/_base.scss */
.fr-list ul li:nth-child(1) {
  background-color: #fff2f2;
}

/* line 33, ../sass/_base.scss */
.fr-list ul li:nth-child(2) {
  background-color: #ffe5e5;
}

/* line 33, ../sass/_base.scss */
.fr-list ul li:nth-child(3) {
  background-color: #ffd8d8;
}

/* line 33, ../sass/_base.scss */
.fr-list ul li:nth-child(4) {
  background-color: #ffcccc;
}

/* line 33, ../sass/_base.scss */
.fr-list ul li:nth-child(5) {
  background-color: #ffbfbf;
}

/* line 33, ../sass/_base.scss */
.fr-list ul li:nth-child(6) {
  background-color: #ffb2b2;
}

/* line 33, ../sass/_base.scss */
.fr-list ul li:nth-child(7) {
  background-color: #ffa5a5;
}

/* line 33, ../sass/_base.scss */
.fr-list ul li:nth-child(8) {
  background-color: #ff9999;
}

/* line 33, ../sass/_base.scss */
.fr-list ul li:nth-child(9) {
  background-color: #ff8c8c;
}

/* line 33, ../sass/_base.scss */
.fr-list ul li:nth-child(10) {
  background-color: #ff7f7f;
}

/* line 33, ../sass/_base.scss */
.fr-list ul li:nth-child(11) {
  background-color: #ff7272;
}

/* line 33, ../sass/_base.scss */
.fr-list ul li:nth-child(12) {
  background-color: #ff6666;
}

/* line 33, ../sass/_base.scss */
.fr-list ul li:nth-child(13) {
  background-color: #ff5959;
}

/* line 33, ../sass/_base.scss */
.fr-list ul li:nth-child(14) {
  background-color: #ff4c4c;
}

/* line 33, ../sass/_base.scss */
.fr-list ul li:nth-child(15) {
  background-color: #ff3f3f;
}

/* line 33, ../sass/_base.scss */
.fr-list ul li:nth-child(16) {
  background-color: #ff3232;
}

/* line 33, ../sass/_base.scss */
.fr-list ul li:nth-child(17) {
  background-color: #ff2626;
}

/* line 33, ../sass/_base.scss */
.fr-list ul li:nth-child(18) {
  background-color: #ff1919;
}

/* line 33, ../sass/_base.scss */
.fr-list ul li:nth-child(19) {
  background-color: #ff0c0c;
}

/* line 33, ../sass/_base.scss */
.fr-list ul li:nth-child(20) {
  background-color: red;
}

/* line 38, ../sass/_base.scss */
button {
  background-color: #6666ff;
  border: 0.083em solid gray;
  border-radius: 0.180em;
  padding: .6rem 1.2rem;
}
/* line 43, ../sass/_base.scss */
button a {
  text-decoration: none;
}
/* line 46, ../sass/_base.scss */
button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border: 0.183em solid #ffcbdb;
}

/* line 52, ../sass/_base.scss */
.fr-list ul li:nth-child(9) {
  border-radius: .5em;
}

/* line 52, ../sass/_base.scss */
.fr-list ul li:nth-child(10) {
  border-radius: .5em;
}

/* line 52, ../sass/_base.scss */
.fr-list ul li:nth-child(11) {
  border-radius: .5em;
}

/* line 52, ../sass/_base.scss */
.fr-list ul li:nth-child(12) {
  border-radius: .5em;
}

/* line 52, ../sass/_base.scss */
.fr-list ul li:nth-child(13) {
  border-radius: .5em;
}

/* line 52, ../sass/_base.scss */
.fr-list ul li:nth-child(14) {
  border-radius: .5em;
}

/* line 52, ../sass/_base.scss */
.fr-list ul li:nth-child(15) {
  border-radius: .5em;
}

/* line 52, ../sass/_base.scss */
.fr-list ul li:nth-child(16) {
  border-radius: .5em;
}

/* line 57, ../sass/_base.scss */
.fr-list ul li:nth-child(17) {
  border-radius: 1em;
}

/* line 57, ../sass/_base.scss */
.fr-list ul li:nth-child(18) {
  border-radius: 1em;
}

/* line 57, ../sass/_base.scss */
.fr-list ul li:nth-child(19) {
  border-radius: 1em;
}

/* line 57, ../sass/_base.scss */
.fr-list ul li:nth-child(20) {
  border-radius: 1em;
}

/* line 57, ../sass/_base.scss */
.fr-list ul li:nth-child(21) {
  border-radius: 1em;
}

/* line 57, ../sass/_base.scss */
.fr-list ul li:nth-child(22) {
  border-radius: 1em;
}

/* line 64, ../sass/_base.scss */
.sec-list ul li:nth-child(1) {
  background-color: #f2e5ff;
  text-align: center;
  color: red;
  padding-top: 0.2rem;
  font-size: 1.1rem;
}
/* line 70, ../sass/_base.scss */
.sec-list ul li:nth-child(1):before {
  content: "BRAVO DAVIDEE!!!!";
}

/* line 64, ../sass/_base.scss */
.sec-list ul li:nth-child(2) {
  background-color: #e5ccff;
  text-align: center;
  color: red;
  padding-top: 0.2rem;
  font-size: 1.1rem;
}
/* line 70, ../sass/_base.scss */
.sec-list ul li:nth-child(2):before {
  content: "BRAVO DAVIDEE!!!!";
}

/* line 64, ../sass/_base.scss */
.sec-list ul li:nth-child(3) {
  background-color: #d8b2ff;
  text-align: center;
  color: red;
  padding-top: 0.2rem;
  font-size: 1.1rem;
}
/* line 70, ../sass/_base.scss */
.sec-list ul li:nth-child(3):before {
  content: "BRAVO DAVIDEE!!!!";
}

/* line 64, ../sass/_base.scss */
.sec-list ul li:nth-child(4) {
  background-color: #cb99ff;
  text-align: center;
  color: red;
  padding-top: 0.2rem;
  font-size: 1.1rem;
}
/* line 70, ../sass/_base.scss */
.sec-list ul li:nth-child(4):before {
  content: "BRAVO DAVIDEE!!!!";
}

/* line 64, ../sass/_base.scss */
.sec-list ul li:nth-child(5) {
  background-color: #bf7fff;
  text-align: center;
  color: red;
  padding-top: 0.2rem;
  font-size: 1.1rem;
}
/* line 70, ../sass/_base.scss */
.sec-list ul li:nth-child(5):before {
  content: "BRAVO DAVIDEE!!!!";
}

/* line 64, ../sass/_base.scss */
.sec-list ul li:nth-child(6) {
  background-color: #b266ff;
  text-align: center;
  color: red;
  padding-top: 0.2rem;
  font-size: 1.1rem;
}
/* line 70, ../sass/_base.scss */
.sec-list ul li:nth-child(6):before {
  content: "BRAVO DAVIDEE!!!!";
}

/* line 64, ../sass/_base.scss */
.sec-list ul li:nth-child(7) {
  background-color: #a54cff;
  text-align: center;
  color: red;
  padding-top: 0.2rem;
  font-size: 1.1rem;
}
/* line 70, ../sass/_base.scss */
.sec-list ul li:nth-child(7):before {
  content: "BRAVO DAVIDEE!!!!";
}

/* line 64, ../sass/_base.scss */
.sec-list ul li:nth-child(8) {
  background-color: #9832ff;
  text-align: center;
  color: red;
  padding-top: 0.2rem;
  font-size: 1.1rem;
}
/* line 70, ../sass/_base.scss */
.sec-list ul li:nth-child(8):before {
  content: "BRAVO DAVIDEE!!!!";
}

/* line 64, ../sass/_base.scss */
.sec-list ul li:nth-child(9) {
  background-color: #8b19ff;
  text-align: center;
  color: red;
  padding-top: 0.2rem;
  font-size: 1.1rem;
}
/* line 70, ../sass/_base.scss */
.sec-list ul li:nth-child(9):before {
  content: "BRAVO DAVIDEE!!!!";
}

/* line 64, ../sass/_base.scss */
.sec-list ul li:nth-child(10) {
  background-color: #7f00ff;
  text-align: center;
  color: red;
  padding-top: 0.2rem;
  font-size: 1.1rem;
}
/* line 70, ../sass/_base.scss */
.sec-list ul li:nth-child(10):before {
  content: "BRAVO DAVIDEE!!!!";
}

/* line 76, ../sass/_base.scss */
.sec-list ul li:last-child {
  color: white;
}

/* line 4, ../sass/style.scss */
body {
  margin: 70px auto;
  background-color: #ff7f00;
  width: 40rem;
}

/* line 10, ../sass/style.scss */
ul {
  padding: 0;
}
