:root{
	font-size: 16px;
}
h1 {
	text-align: center;
	color: lighten($black, 5%);
}
.block {
	height: 4.1rem;
	width: 4.1rem;
	display: inline-block;
	background-color: $yellow;
	opacity: 0.7;
	&:hover {
		opacity: 1;
	}
}
.block2 {
	width: 100%;
	height: 1.5rem;
	background-color: $green;
	display: block;
	margin-top: 0.3rem;
}
.shadow {
	background-color: darken($main-green, 10%);
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	padding: 1rem 1.8rem;
	min-height: 1400px;
	@extend %main-gradient;
}

%main-gradient {
	 background-image: -webkit-linear-gradient(left, $main-green 70%, darken($yellow, 10%));
}
/*@mixin gradient ($main-green, $white) {
	background-color: $main-green;
	background-image: -webkit-linear-gradient($main-green 80%, $white);
}*/

$perc-red: 5%;
@for $i from 1 through 20 {
	.fr-list ul li:nth-child(#{$i}) {
		background-color: mix($red, $white, $perc-red);
	}
	$perc-red: $perc-red + 5%;
}
button {
	background-color: lighten($blue, 20%);
	border: 0.083em solid $gray;
	border-radius: 0.180em;
	padding: .6em 1.2em;
	font-size: 1.1rem;
	a {
		text-decoration: none;
		color: $red;
	}
	&:hover {
		background-color: complement($main-green);
		background-color: adjust-hue($gray, 90deg);
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		border: 0.183em solid $pink;
		font-size: 1.3rem;
		a {
			color: $white;
		}
	}
}
@for $i from 9 through 16 {
	.fr-list ul li:nth-child(#{$i}) {
		border-radius: .5em;
	}
}
@for $i from 17 through 22 {
	.fr-list ul li:nth-child(#{$i}) {
		border-radius: 1em;
	}
}

$perc-violet: 10%;
@for $i from 1 through 10 {
	.sec-list ul li:nth-child(#{$i}) {
		background-color: mix($violet, $white, $perc-violet);
		text-align: center;
		color: $duke-blue;
		padding-top: 0.2rem;
		font-size: 1.1rem;
		&:before {
			content: "BRAVO DAVIDEE!!!!";
		}
		&:hover {
			opacity: .6;
			border: .250rem solid $blue;
			width: 50%;
			position: relative;
			left: 25%;
		}
	}
	$perc-violet: $perc-violet + 10%;
}
.sec-list ul li:last-child {
	color: $white;
}
.shadow p:nth-of-type(1){
	color: lighten($black, 80%);
}
.shadow p:nth-of-type(2){
	color: $default-text-color;
}


